.jumbotron {
  background-image: url(images/1.jpg);
  color: white;
  border-radius: 0%;
  margin-top: 50px;

}
  .btn-primary {
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: thistle;
    width: 100%;
   border-radius: 5px;
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: rgba(64, 180, 41, 0.5);
    background-color:  rgb(1, 56, 1);
  }
  
  .btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: rgb(59, 87, 59);
    border-color: rgb(61, 116, 61);
    box-shadow: rgb(69, 119, 69);
  }

  .btn-primary::selection {
    background-color:  rgb(1, 56, 1);
  }

  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(31, 105, 43, 0.5);
  }  

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    border-color: rgb(151, 151, 151);
}

  .btn-primary:hover {
    background-color: rgb(1, 77, 1);
    color: rgb(255, 255, 255);
    border-color: rgb(1, 77, 1);
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #306337;
  }
  .btn-hidden-index {
    background-color: white;
    color: black;
    border-color: thistle;
    border-radius: 5px;
    max-width: 50%;
    word-wrap: break-word; 
    max-width:150px;
  }

  .btn-hidden-index:hover {
    background-color: black;
    color: rgb(218, 218, 218);
    border-color: white;
  }

  .btn-hidden-index:active {
  background-color: white;
  color: black;
  border-color: black;
  border-radius: 5px;
}



  .btn-link {
    background-color: white;
    
  }

  .btn-outline-primary {
    background-color: white;
    color: black;
    border-color: black;
  }

  .btn-outline-primary:hover {
    background-color: rgb(1, 77, 1);
    color: white;
    border-color: rgb(1, 77, 1);
  }

  .blog-card-header {
    background-color: white;
     flex: 1 200px;
     margin-top: 10px;
 }

 .blog-card {
    background-color: rgb(209, 209, 209);
     flex: 1 200px;
     margin-top: 10px;
 }

 .blog-card-contact {
  background-color: rgb(209, 209, 209);
  flex: 1 200px;
  margin-top: 10px;
 }
/*
 .btn-reserva {
    width: 100%;
   border-radius: 0px;
 }
*/
 .footerColumn {
   padding-top: 12px;
 }

 .spanTextAbout {
   padding-bottom: 100px;
 }

 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: black;
}

.nav-pills .nav-link:hover {
  color: #fff;
  background-color: green;
}

a {
  color: #657688;
  text-decoration: none;
  background-color: transparent;
}

 footer {
  padding: 10px 10px 0 10px;
  color: black;
  background-color: white;
   margin-bottom: 0px;
   margin-top: 10px;
}
