.jumbotron {
  background-image: url(images/1.jpg);
  color: white;
  border-radius: 0%;
  margin-top: 50px;

}
  .btn-primary {
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: thistle;
  }
  .btn-primary:hover {
    background-color: rgb(1, 77, 1);
    color: rgb(185, 185, 185);
    border-color: rgb(1, 77, 1);
  }
  .btn-outline-primary {
    background-color: white;
    color: black;
    border-color: black;
  }
  .btn-outline-primary:hover {
    background-color: rgb(1, 77, 1);
    color: white;
    border-color: rgb(1, 77, 1);
  }

  .blog-card-header {
    background-color: white;
     flex: 1 200px;
     margin-top: 10px;
 }

 .blog-card {
    background-color: rgb(209, 209, 209);
     flex: 1 200px;
     margin-top: 10px;
 }

 .btn-reserva {
   width: 100%;
   border-radius: 0px;
 }

 .footerColumn {
   padding-top: 12px;
 }

 .spanTextAbout {
   padding-bottom: 100px;
 }
  
 footer {
  padding: 10px 10px 0 10px;
  color: black;
  background-color: rgb(14, 87, 14);
   margin-bottom: 0px;
   margin-top: 10px;
}
